html {
	box-sizing: border-box;
	background: #FFFFFF;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 1rem;
	max-width: 100%;
	font-family: "Courier New", monospace;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: .05em;
	color: #391d34;
}

a:visited {
	color: #FF69B4;
}

a:link {
	color: #7733FF;
}

h1 {
	font-weight: 200;
	color: #7733FF;
	margin: 0px 0px -20px 0px;
}

h2 {
	border: 1px dotted;
	font-weight: 200;
	padding: .1em .5em;
	color: #7733FF;
}

menu {
	text-align: right;
}

footer {
	text-align: center;
	padding: 3px;
	background: #fff;
}

img, video {
	height: auto;
	max-width: 100%;
}

ul {
  list-style-type: none;
}

li::before {
	content: "•";
	color: #7733FF;
	margin-right: 10px;
}

hr {
	color: #7733FF;
	border-style: dotted;
	margin: 0px 0px 30px 0px;
  }

.grid {
	display: grid;
	grid-template-columns: .5fr repeat(3, 1fr) .5fr;
	grid-template-rows: .25fr repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.title { grid-area: 1 / 1 / 2 / 2; }
.menu { grid-area: 1 / 2 / 2 / 6; }
.main { grid-area: 2 / 2 / 5 / 5; }
.footer { grid-area: 5 / 2 / 6 / 5; } 
